.footer {
  background-color: @basic-grey;
}

.footer-nav__logo {
  width: 101px;
  height: 19px;
  background-image: url("../img/logo-2-mobile.svg");
}

.cooperation__adress {
  font-family: "Lato-Regular", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @spetial-dark-grey-2;
}
