.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo__text-holder {
  flex-grow: 1;
}

.logo__text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .logo__img {
    width: 174px;
    height: 52px;
    background-image: url("../img/logo-tablet.svg");
  }

  .logo__text {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .logo__img {
    width: 202px;
    height: 59px;
    background-image: url("../img/logo-desktop.svg");
  }

}
