.social-list {
  .list-item-style ();
  flex-grow: 1;
  display: flex;
  border-top: 1px solid hsl(0, 0%, 85%);
  border-bottom: 1px solid hsl(0, 0%, 85%);
  margin: 0;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 18px;
  padding-left: calc((100% - 132px) / 2);
  padding-right: calc((100% - 132px) / 2);
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    flex-grow: 0;
    justify-content: space-between;
    gap: 28px;
    width: auto;
    padding-top: 17px;
    border-top: none;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.social-list__item-vk {
  display: block;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 17px;
    mask: url("../img/icons/stak.svg#vk-logo");
    background-color: #666666;
  }
}

.social-list__item-vk:hover {
  &::after {
    background-color: @basic-green;
  }
}

.social-list__youtube {
  display: block;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 19px;
    mask: url("../img/icons/stak.svg#youtube-logo");
    background-color: #666666;
  }
}

.social-list__youtube:hover {
  &::after {
    background-color: @basic-green;
  }
}

.social-list__telegram {
  display: block;

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    mask: url("../img/icons/stak.svg#telegram-logo");
    background-color: #666666;
  }
}

.social-list__telegram:hover {
  &::after {
    background-color: @basic-green;
  }
}

.social-list__item :active {
  opacity: 30%;
}
