.live-example {
  background-color: @darken-grey;
}

.live-example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.achievement__text {
  font-family: "Lato-Regular", "Oswald", sans-serif;
}
