.points {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 1220px;
    padding-left: calc((100% - 1220px) / 2);
    padding-right: calc((100% - 1220px) / 2);
    padding-top: 82px;
    margin-left: auto;
    margin-right: auto;
  }
}

.points__item {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 50px 1fr 57px;
  column-gap: 20px;
  align-items: center;
  background-color: @basic-grey;
  min-height: 242px;
  padding-left: 22px;
  padding-right: 20px;
  padding-top: 23px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-template-columns: 1fr 200px;
    grid-template-rows: 60px 1fr 67px;
    column-gap: 54px;
    align-items: start;
    padding-left: 52px;
    padding-right: 62px;
    padding-top: 77px;
    padding-bottom: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 125px 1fr 86px;
    column-gap: 62px;
    padding-left: 52px;
    padding-right: 62px;
    padding-top: 30px;
  }
}

.points__icon-background {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: @basic-green;
  border-radius: 50%;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 200px;
    height: 200px;
    margin-top: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    margin-top: 3px;
  }
}

.points__lose-weight {
  position: absolute;
  width: 36px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    width: 140px;
    height: 194px;
    top: 43%;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 97px;
    top: 43%;
  }
}

.points__gain-weight {
  position: absolute;
  width: 67px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    width: 268px;
    height: 112px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56px;
    top: 47%;
  }
}

.points__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    font-size: 36px;
    line-height: 36px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.points__catalog {
  position: relative;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    line-height: 30px;
    padding-top: 14px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: auto;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: @mobil-width-only) {
  .points__item::after {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    background-color: hsl(0, 0%, 85%);
    left: 20px;
    bottom: 54px;
  }
}

.points__catalog::after {
  content: "";
  display: block;
  position: relative;
  width: 32px;
  height: 10px;
  top: 2px;
  left: 10px;
  mask: url("../img/icons/stack.svg#point-catalog-arrow");
  background-color: #000000;

  @media (min-width: @tablet-width) {
    padding-left: 27px;
    top: 9px;
  }
}

.points__catalog:hover::after {
  mask: url("../img/icons/stack.svg#point-catalog-arrow-hover");
}

.points__catalog:active {
  opacity: 0.3;
}

.points__catalog:hover {
  opacity: 30%;
}

.points__text {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "Lato-Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  min-height: 108px;
  overflow: hidden;
  padding-top: 22px;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    min-height: 135px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 27px;
    min-height: 100px;
  }
}
