.point {
  background-color: @basic-grey;
}

.point__title,
.point__catalog {
  font-weight: 400;
  text-transform: uppercase;
}

.point__title {
  font-size: 36px;
  line-height: 36px;
}

.point__catalog {
  font-size: 16px;
  line-height: 16px;
}

.point__text {
  font-family: "Lato-Regular", "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
