.points {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 1220px;
    padding-left: calc((100% - 1220px) / 2);
    padding-right: calc((100% - 1220px) / 2);
    padding-top: 82px;
    margin-left: auto;
    margin-right: auto;
  }
}

.points__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 50px 1fr 57px;
  column-gap: 20px;
  align-items: center;
  background-color: @basic-grey;
  height: 242px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-template-columns: 1fr 200px;
    grid-template-rows: 60px 1fr 67px;
    column-gap: 54px;
    align-items: start;
    height: 275px;
    padding-left: 52px;
    padding-right: 62px;
    padding-top: 77px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr 82px;
    column-gap: 62px;
    height: 327px;
    padding-left: 52px;
    padding-top: 47px;
  }
}

.points__icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: @basic-green;
  border-radius: 50%;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.points__icon--lose-weight::after {
  content: url("../img/icons/lose-weight-mobile.png");
  position: absolute;
  width: 36px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    content: url("../img/icons/lose-weight-tablet.png");
    width: 140px;
    height: 194px;
  }

  @media (min-width: @desktop-width) {
    content: url("../img/icons/lose-weight-desktop.png");
    width: 70px;
    height: 97px;
  }
}

.points__icon--gain-weight::after {
  content: url("../img/icons/gain-weight-mobile.png");
  position: absolute;
  width: 67px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    content: url("../img/icons/gain-weight-tablet.png");
    width: 268px;
    height: 112px;
  }

  @media (min-width: @desktop-width) {
    content: url("../img/icons/gain-weight-desktop.png");
    width: 134px;
    height: 56px;
  }
}

.points__title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.points__catalog {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    margin-bottom: auto;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: @mobil-width-only) {
  .points__catalog::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: hsl(0, 0%, 62%);
    position: absolute;
    top: -19px;
  }
}

.points__catalog::after {
  content: url("../img/icons/point-catalog-arrow.svg");
  width: 33px;
  height: 10px;
  padding-left: 15px;
}

.points__catalog:hover::after {
  content: url("../img/icons/point-catalog-arrow-hover.svg");
}

.points__catalog:active {
  opacity: 0.3;
}

.points__text {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "Lato-Regular", "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  max-height: 135px;
  overflow: hidden;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
