.slider {
  position: relative;
  display: grid;
  width: 280px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
    margin-top: 90px;
    padding-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 25px;
    padding-bottom: 86px;
  }
}

.slider__before,
.slider__after,
.slider__control {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;
}

.slider__before {
  display: flex;
  width: 50%;
  margin-right: auto;
}

.slider__after {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  margin-left: auto;
}

.slider__line {
  width: 4px;
  height: 258px;
  background-color: @special-grey-2;
  margin: auto;

  @media (min-width: @tablet-width) {
    height: 512px;
  }
}

.slider__control {
  position: relative;
  justify-self: center;
  width: 40px;
}

.slider__arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: @special-grey-2;
}

.slider__arrows-fill {
  fill: @special-grey-2;
  stroke: @special-grey-2;
}

.slider__control:hover .slider__line {
  background-color: @basic-green;
}

.slider__control:active .slider__line {
  opacity: 60%;
}

.slider__control:hover .slider__arrows,
.slider__control:hover .slider__arrows-fill {
  stroke: @basic-green;
  fill: @basic-green;
}

.slider__control:active .slider__arrows,
.slider__control:active .slider__arrows-fill {
  stroke: rgba(104, 183, 56, 0.6);
  fill: rgba(104, 183, 56, 0.6);
}

.slider__img-before {
  margin-left: -5px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}
