.comment {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 20px 23px 20px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.comment__legend {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 37px;
  width: min-content;

  @media (min-width: @tablet-width) {
    width: max-content;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 79px;
  }
}

.comment__legend::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 142px;
  width: 100vw;
  height: 2px;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    top: 23px;
    left: 220px;
  }
}

@media (min-width: @tablet-width) {
  .comment__legend::before {
    content: "";
    position: absolute;
    top: 23px;
    right: calc(100% + 40px);
    width: 100vw;
    height: 2px;
    background-color: @basic-green;
    padding-left: 0;
  }
}

.comment__textarea {
  .input-field ();
  flex-grow: 1;
  height: 139px;
  resize: none;
  padding: 5px 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 27px;
    height: 146px;
    padding: 14px 15px;
  }
}

.comment__textarea:hover {
  outline: 1px solid @special-grey;
}

.comment__textarea:focus {
  outline: 1px solid @special-dark-grey;
}
