.main-form__prompt {
  font-family: "Lato-Regular", "Oswald", sans-serif;
  line-height: 16px;
}

.main-form__submit {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  border: none;
}

.main-form__promt {
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding-top: 21px;
  padding-bottom: 32px;
  text-align: center;
}