.questionnaire {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  @media (min-width: 500px) {

    padding-left: 70px;
  padding-right: 70px;
  }
}

.questionnaire__legend {
  color: @spetial-dark-grey-2;
  font-size: 14px;
  line-height: 18px;
  padding-right: 50px;

  @media (min-width: @tablet-width) {
    padding-right: 300px;
    font-size: 20px;
    line-height: 30px;

  }
}

.questionnaire__list {
  .list-item-style ();

  padding: 14px 0 13px 0;
}

.questionnaire__item {
  display: flex;
  align-items: center;
  padding-top: 14px;
}

.questionnaire__label {
  color: @spetial-dark-grey;
  padding-right: 13px;
}


.questionnaire__field {
  .input-field ();
  flex-grow: 1;
}

.questionnaire__field::placeholder {
  color: @spetial-dark-grey;
}
