.additional-product__characteristics {
  font-family: "Lato-Regular", "Oswald", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.additional-product__parameter,
.additional-product__price {
  font-family: "Lato-Regular", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding-top: 13px;
  padding-bottom: 15px;
}

.additional-product__parameter {
  @media (min-width: @tablet-width) {
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    text-align: left;
  }
}

.additional-product__price {
  text-align: end;

  @media (min-width: @desktop-width) {
    text-align: left;
    width: 100px;
  }
}

.additional-product__button {
  .product-card-button();
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}

.additional-product__gift-text {
  font-family: "Lato-Regular", "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  bottom: 43px;
  width: 160px;
  text-align: center;
  color: #ffffff;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    top: 52%;
    right: 25%;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

.additional-product {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;

  @media (min-width: @desktop-width) {
    padding-left: calc((100% - 1220px) / 2);
    padding-right: calc((100% - 1220px) / 2);
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.additional-product__header {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 36px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-left: 37px;
    font-size: 36px;
    line-height: 36px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.additional-product__header::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 247px;
  width: 100vw;
  height: 2px;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    left: 420px;
    top: 45%;
    right: 100%;
  }
}

@media (min-width: @tablet-width) {
  .additional-product__header::before {
    content: "";
    position: absolute;
    top: 45%;
    right: 100%;
    width: 100vw;
    height: 2px;
    background-color: @basic-green;
  }
}

@media (min-width: @desktop-width) {
  .additional-product__header::before {
    right: calc(100% - ((100% - 1220px) / 2) + 40px);
  }
}

.additional-product__card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  padding-top: 15px;
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {

    border: 1px solid hsl(0, 0%, 90%);
    padding: 26px 38px 28px 38px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 15px 0 15px 0;
    border-left: none;
    border-right: none;
  }
}

.additional-product__title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    width: 310px;
  }
}

/*новый код*/
@media (min-width: @tablet-width) {
  .additional-product__wrapper {
    margin-bottom: 85px;
  }
}

.additional-product__gift {
  position: relative;
  display: grid;
  width: 100%;
  overflow: hidden;
  height: 290px;
  margin-bottom: 35px;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    height: 200px;
    margin-bottom: 76px;
    margin-top: 69px;
  }

  @media (min-width: @desktop-width) {

    width: 245px;
    height: 290px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    align-content: center;
  }
}

.additional-product__gift::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: @basic-green;
  opacity: 85%;
}

.additional-product__gift::after {
  content: url("../img/icons/gift.png");
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;

  @media (min-width: @tablet-width) {
    top: 50%;
    left: 15%;
  }

  @media (min-width: @desktop-width) {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.gift-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: auto;
  object-fit: contain;
  z-index: -1;

  @media (min-width: @tablet-width) {
    top: calc(-50% + 100px);
  }

  @media (min-width: @desktop-width) {

    height: 100%;
    min-width: auto;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
