.additional-product__characteristics {
  font-family: "Lato-Regular", "Oswald", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.additional-product__parameter,
.additional-product__price {
  font-family: "Lato-Regular", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding-top: 13px;
  padding-bottom: 15px;
}

.additional-product__parameter {
  @media (min-width: @tablet-width) {
    text-align: end;
  }
}

.additional-product__price {
  text-align: end;
}

.additional-product__button {
  .product-card-button();
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.additional-product__gift-text {
  font-family: "Lato-Regular", "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  bottom: 43px;
  width: 160px;
  text-align: center;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    top: 52%;
    right: 25%;
    text-align: left;
  }
}

.additional-product {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;

  @media (min-width: @desktop-width) {
    padding-left: calc((100% - 1220px) / 2);
    padding-right: calc((100% - 1220px) / 2);
  }
}

.additional-product__header {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  border-top: 1px solid hsl(0, 0%, 90%);
  border-bottom: 1px solid hsl(0, 0%, 90%);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 36px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-left: 37px;
    font-size: 36px;
    line-height: 36px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.additional-product__header::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 247px;
  width: 100vw;
  height: 2px;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    left: 420px;
  }
}

@media (min-width: @tablet-width) {
  .additional-product__header::before {
    content: "";
    position: absolute;
    top: 45%;
    right: 100%;
    width: 100vw;
    height: 2px;
    background-color: @basic-green;
  }
}
@media (min-width: @desktop-width) {
  .additional-product__header::before {
    right: calc(100% - ((100% - 1220px) / 2) + 40px);
  }
}

.additional-product__card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  padding-top: 15px;
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {

    border: 1px solid hsl(0, 0%, 90%);
    padding: 26px 38px 28px 38px;
  }
}

.additional-product__title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: start;
  }
}

.additional-product__gift {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 69px;
    width: 100%;
  }
}

.additional-product__gift::after {
  content: url("../img/icons/gift.png");
  position: absolute;
  top: 99px;
  width: 78px;
  height: 80px;

  @media (min-width: @tablet-width) {
    top: 50%;
    left: 15%;
  }
}

.additional-product__gift-img {
  position: relative;

  @media (min-width: @tablet-width) {
    overflow: hidden;
    height: 200px;
    width: auto;
  }
}

@media (min-width: @tablet-width) {
  .gift-img {
    object-fit: fill;
    margin-top: -320px;
    min-width: 100%;
  }
}

.additional-product__gift-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: @basic-green;
  opacity: 85%;
}

/*НОВЫЙ КОД*/

@media (min-width: @tablet-width) {
  .additional-product__gift {
    display: grid;
  }

  .gift-img {
    position: relative;
    top: -15%;
    z-index: -1;
  }
}