
.page {
  font-family: "Oswald", "Lato-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  min-width: 320px;
}

.page__body {
  margin: 0;
}

.br-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
