//Colors

@basic-green: #68B738;
@basic-grey: #F2F2F2;
@darken-grey: #EAEAEA;
@spetial-grey: #CDCDCD;
@spetial-dark-grey: #444444;
@spetial-dark-grey-2: #222222;

//Viewports

@tablet-width: 769px;
@desktop-width: 1440px;
@mobil-width-only: 768px;
